<!--  方式1 -->
<!-- 	
<div class="myQuery">
	<div nz-row [nzGutter]="24" >
	    <div nz-col [nzSpan]="6" class="myInputGroup" *ngFor="let item of queryModal" >
	    	<div *ngIf="item.type=='text' || item.type==''">
	    		<label>
			    	{{item.name}}:
				</label>
				<input nz-input type="text" [(ngModel)]="query[item.code]" >
	    	</div>
	    	<div *ngIf="item.type=='date'">
	    		<label>
			    	{{item.name}}:
				</label>
				<nz-date-picker [nzFormat]="yyyy-MM-dd" [(ngModel)]="query[item.code]">
				</nz-date-picker>
	    	</div>
			<div *ngIf="item.type=='select'">
	    		<label>
			    	{{item.name}}:
				</label>
				<nz-select [(ngModel)]="query[item.code]" class="mySelect">
			      	<nz-option *ngFor="let x of item.selectList" [nzLabel]="x.name" [nzValue]="x.code"> 
			      	</nz-option>
			    </nz-select>
	    	</div>
	    </div>
	    <div nz-col [nzSpan]="6" >
	      <button nz-button [nzType]="'primary'"  (click)="search()">Search</button>
	    </div>
	</div> 
</div>
-->

<!--  方式2 -->
<!-- <div class="myQuery">
 	<div nz-row [nzGutter]="24" >
	    <div nz-col [nzSpan]="6" class="myBlock" *ngFor="let item of queryModal" >
	    	<label>
			    {{item.name}}:
			</label>
			<input nz-input type="text" [(ngModel)]="query[item.code]" *ngIf="item.type=='text' || item.type==''" >

			<nz-date-picker [nzFormat]="yyyy-MM-dd" [(ngModel)]="query[item.code]" *ngIf="item.type=='date'">
				</nz-date-picker>

			<nz-select [(ngModel)]="query[item.code]" class="mySelect" *ngIf="item.type=='select'">
		      	<nz-option *ngFor="let x of item.selectList" [nzLabel]="x.name" [nzValue]="x.code"> 
		      	</nz-option>
		    </nz-select>
	    </div>			
	    <div nz-col [nzSpan]="6" class="myBlock">
	      <button nz-button [nzType]="'primary'"  (click)="search()">Search</button>
	    </div>
	</div>
</div>  -->

<!--  方式3 -->
<app-query2 [config]="config"></app-query2>
<app-grid [config]="config"></app-grid>
<app-page [config]="config"></app-page>